.button {
  padding: 14px 62px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.whiteBtn {
  background: rgb(255, 255, 255);
}
.blackBtn {
  background: rgb(0, 0, 0);
  color: white;
}

.bigBtn {
  width: 280px;
}

.smallBtn {
  width: 155px;
  padding: 14px 30px;
}
